<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	
	    <section class="layout-content" layout:fragment="corpo" >
	
	        <nav class="navbar navbar-expand-md bg-light">
	            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                <ul class="navbar-nav mr-auto">
	                    <li class="nav-item active">
	                        <i class="oi oi-caret-right"></i>
	                        <span>Lista de receitas</span>
	                    </li>
	                </ul>
	                <a class="btn btn-primary btn-md" href="/receita/cadastrar" role="button">
	                    <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	                    <span>Nova receita</span>
	                </a>
	            </div>
	        </nav>
	        
	        <div class="container">
	        
	        
	        <p>
	            <i class="oi oi-magnifying-glass"></i><span></span>
				<button class="btn btn-primary" type="button" data-toggle="collapse"
					data-target="#collapseCargo" aria-controls="collapseCargo">Buscar por tipo
				</button>
				
				<button class="btn btn-primary" type="button" data-toggle="collapse"
					data-target="#collapseData" aria-controls="collapseCargo">Buscar por data
				</button>
			</p>
		
			
			<div class="row">
				<div class="col">
					<div class="collapse" id="collapseCargo">

						<nav class="navbar navbar-light bg-light">
							<form class="form-inline" method="GET"
								th:action="@{/receita/buscar/tipo}">
								<select class="form-control mr-sm-2" th:name="tipo"
									aria-label="Search">
									<option value="Salario">Salário</option>
									<option value="Premio">Prêmio</option>
									<option value="Presente">Presente</option>
									<option value="Outros">Outros</option>
								</select>
								<button class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
							</form>
						</nav>

					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<div class="collapse" id="collapseData">

						<nav class="navbar navbar-light bg-light">
							<form class="form-inline" method="GET"
								th:action="@{/receita/buscar/data}">
								<input class="form-control mr-sm-2" type="date"
									aria-label="Search" th:name="data_inicio" /> <input
									class="form-control mr-sm-2" type="date" aria-label="Search"
									th:name="data_final" />
								<button class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
							</form>
						</nav>

					</div>
				</div>
			</div>
	
	        <div class="container" id="listagem">
	        
	        	<div th:replace="fragments/alert"></div>
	
	            <div class="table-responsive">
	                <table class="table table-striped table-hover table-sm">
	                    <thead>
	                    <tr>
	                        <th>ID</th>
	                        <th>Valor</th>
	                        <th>Data pagamento</th>
	                        <th>Data pagamento esperado</th>
	                        <th>Conta</th>
	                        <th>Descrição</th>
	                        <th>Tipo</th>
	                    </tr>
	                    </thead>
	                    <tbody>
	                    <tr th:each="r : ${receita}">
	                        <td th:text="${r.id}">1</td>
	                        <td th:text="${#numbers.formatCurrency(r.valor)}">nome</td>
	                        <td th:text="${#temporals.format(r.data_recebimento, 'dd/MM/yyyy')}">nome</td>
	                        <td th:text="${#temporals.format(r.data_recebimento_esperado, 'dd/MM/yyyy')}">nome</td>
	                        <td th:text="${r.conta_receita.id}">1</td>
	                        <td th:text="${r.descricao}">1</td>
	                        <td th:text="${r.tipoReceita}">1</td>
	                        <td colspan="2">
	                            <a class="btn btn-info btn-sm" th:href="@{/receita/editar/{id} (id=${r.id})}" role="button">
	                                <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
	                            </a>
	                            <button th:id="${'btn_receita/excluir/' + r.id}" type="button" class="btn btn-danger btn-sm" 
	                            data-toggle="modal" data-target="#myModal">
	                                <span class="oi oi-circle-x" title="Excluir ítem" aria-hidden="true"></span>
	                            </button>
	                        </td>
	                    </tr>
	                    </tbody>
	                    
	                    <table>
					<tr>
						<td><strong>Total de receitas: &nbsp </strong></td>
						<td><i th:text="${#aggregates.sum(receita.![aux])}"></i></td>
					</tr>
				</table>
	                    
	                </table>
	            </div>
	        </div>
	       </div> 
	        <div th:replace="fragments/modal :: modal"></div>
	
	    </section>
</body>
</html>		